//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Thu 01 20 13:24:46 2022

IO_LOC "tmds_d_p[0]" 71,70;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" 73,72;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" 75,74;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_p" 69,68;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8;
IO_LOC "ser_tx" 17;
IO_PORT "ser_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "flash_csb" 60;
IO_PORT "flash_csb" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "flash_clk" 59;
IO_PORT "flash_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[6]" 3;
IO_PORT "gpio[6]" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[5]" 16;
IO_PORT "gpio[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[4]" 15;
IO_PORT "gpio[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[3]" 14;
IO_PORT "gpio[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[2]" 13;
IO_PORT "gpio[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[1]" 11;
IO_PORT "gpio[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[0]" 10;
IO_PORT "gpio[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "flash_miso" 62;
IO_PORT "flash_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "flash_mosi" 61;
IO_PORT "flash_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ser_rx" 18;
IO_PORT "ser_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "resetn" 4;
IO_PORT "resetn" PULL_MODE=UP;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
